<div class="start-view" data-area="start" data-context="start-menus">

	<h2>Choose Game</h2>

	<div class="logo" data-click="select-engine" data-arg="51">
		<svg><use xlink:href="#logo-51"></use></svg>
	</div>
	<div class="logo" data-click="select-engine" data-arg="101">
		<svg><use xlink:href="#logo-101"></use></svg>
	</div>

	<div class="logo" data-click="select-engine" data-arg="okey">
		<svg><use xlink:href="#logo-okey"></use></svg>
	</div>

	<h3>Opponents</h3>
	<ul class="opponents">
		<li>
			<div class="player">
				<div class="photo" data-name="Yasmin"></div>
			</div>
			<span class="quote">If you got money, I got time honey</span>
		</li>
		<li>
			<div class="player">
				<div class="photo" data-name="Sean"></div>
			</div>
			<span class="quote">This is my house</span>
		</li>
		<li>
			<div class="player">
				<div class="photo" data-name="Ann"></div>
			</div>
			<span class="quote">I will buy new shoes with your money</span>
		</li>
		<li>
			<div class="player">
				<div class="photo" data-name="Denise"></div>
			</div>
			<span class="quote">Save your time - hand over your wallet now</span>
		</li>
		<li>
			<div class="player">
				<div class="photo" data-name="Adam"></div>
			</div>
			<span class="quote">Welcome to the master class, grasshopper</span>
		</li>
		<li>
			<div class="player">
				<div class="photo" data-name="Ali"></div>
			</div>
			<span class="quote">Go hard or go home</span>
		</li>
	</ul>

	<div class="button red" data-click="open-help">How to play</div>
	<div class="button" data-click="show-dialog" data-arg="settings">Settings</div>

	<div class="tiles">
		<span class="tile red" data-v="1"></span>
		<span class="tile red" data-v="2"></span>
		<span class="tile red" data-v="3"></span>
		<span class="tile red" data-v="4"></span>
		<span class="tile red" data-v="5"></span>
		<span class="tile red" data-v="6"></span>
		<span class="tile red" data-v="7"></span>
		<span class="tile red" data-v="8"></span>
		<span class="tile red" data-v="9"></span>
		<span class="tile red" data-v="10"></span>
		<span class="tile red" data-v="11"></span>
		<span class="tile red" data-v="12"></span>
		<span class="tile red" data-v="13"></span>
	</div>

</div>
