<content>
	<div class="board">
		<div class="common">
			<div class="series">
				<span class="tile red" data-v="2" style="--y: 4; --x: 1;"></span>
				<span class="tile red" data-v="3" style="--y: 4; --x: 2;"></span>
				<span class="tile red" data-v="4" style="--y: 4; --x: 3;"></span>
				<span class="tile red" data-v="5" style="--y: 4; --x: 4;"></span>
				<span class="tile red" data-v="6" style="--y: 4; --x: 5;"></span>

				<span class="tile yellow" data-v="6" style="--y: 5; --x: 4;"></span>
				<span class="tile yellow" data-v="7" style="--y: 5; --x: 5;"></span>
				<span class="tile yellow" data-v="8" style="--y: 5; --x: 6;"></span>
			</div>
			<div class="info">
				<div class="inset">Solo</div>
				<div class="inset on">Assisted</div>
				<div class="inset off">Regular</div>
				<div class="inset">1 Round</div>
				<div class="inset tiles">
					<span class="tile" data-v="7"></span>
				</div>
				<div class="inset tiles">
					<span class="tile"></span>
				</div>
			</div>
			<div class="doubles">
				<span class="tile red" data-v="6"></span>
				<span class="tile red" data-v="6"></span>
			</div>
		</div>

		<div class="discard">
			<div class="inset tiles player-top">
				<span class="tile" data-v="7"></span>
			</div>
			<div class="inset tiles player-right">
				<span class="tile blue" data-v="3"></span>
			</div>
			<div class="inset tiles player-bottom">
				<span class="tile black" data-v="11"></span>
			</div>
			<div class="inset tiles player-left">
				<span class="tile red" data-v="2"></span>
			</div>
		</div>

		<!-- players -->
		<div class="player top">
			<span class="seat horisontal">
				<svg class="outline" viewBox="0 0 95 117">
					<rect x="-1" y="-1" width="97" height="119" rx="6"/>
				</svg>
				<span class="bg"></span>
				<span class="name" data-name="Ann"></span>
			</span>
		</div>

		<div class="player left">
			<span class="seat">
				<svg class="outline" viewBox="0 0 95 117">
					<rect x="-1" y="-1" width="97" height="119" rx="6"/>
				</svg>
				<span class="bg"></span>
				<span class="name" data-name="Nina"></span>
			</span>
		</div>

		<div class="player right">
			<span class="seat">
				<svg class="outline" viewBox="0 0 95 117">
					<rect x="-1" y="-1" width="97" height="119" rx="6"/>
				</svg>
				<span class="bg"></span>
				<span class="name" data-name="Daniel"></span>
			</span>
		</div>

		<div class="player user">
			<span class="seat highlight1 horisontal">
				<svg class="outline" viewBox="0 0 95 117">
					<rect x="-1" y="-1" width="97" height="119" rx="6"/>
				</svg>
				<span class="bg"></span>
				<span class="name" data-name="Hakan"></span>
			</span>
			<div class="rack">
				<span class="empty"></span>
				<span class="tile red" data-v="1"></span>
				<span class="tile blue" data-v="2"></span>
				<span class="tile black" data-v="3"></span>
				<span class="tile yellow" data-v="4"></span>
				<span class="tile red" data-v="5"></span>
				<span class="tile blue" data-v="6"></span>
				<span class="tile black" data-v="7"></span>
				<span class="tile yellow" data-v="8"></span>
				<span class="tile red" data-v="10"></span>
				<span class="tile blue" data-v="11"></span>
				<span class="tile black" data-v="12"></span>
				<span class="tile yellow" data-v="13"></span>
				<span class="empty"></span>
				<span class="empty"></span>
				<span class="empty"></span>

				<!-- <span class="empty"></span>
				<span class="empty"></span>
				<span class="empty"></span>
				<span class="tile red" data-v="1"></span>
				<span class="tile blue" data-v="2"></span>
				<span class="tile black" data-v="3"></span>
				<span class="tile yellow" data-v="4"></span>
				<span class="tile red" data-v="5"></span>
				<span class="tile blue" data-v="6"></span>
				<span class="tile black" data-v="7"></span>
				<span class="tile yellow" data-v="8"></span>
				<span class="tile red" data-v="10"></span>
				<span class="tile blue" data-v="11"></span>
				<span class="tile black" data-v="12"></span>
				<span class="tile yellow" data-v="13"></span>
				<span class="empty"></span> -->
			</div>
		</div>
	</div>
</content>
