<content>
	<div class="board">
		<div class="common">
			<div class="series">
				<div class="col-1"></div>
				<div class="col-2"></div>
			</div>
			<div class="info"></div>
			<div class="doubles"></div>
		</div>
		<div class="rack">
			<span class="empty"></span>
			<span class="tile red" data-v="1"></span>
			<span class="tile blue" data-v="2"></span>
			<span class="tile black" data-v="3"></span>
			<span class="tile yellow" data-v="4"></span>
			<span class="tile red" data-v="5"></span>
			<span class="tile blue" data-v="6"></span>
			<span class="tile black" data-v="7"></span>
			<span class="tile yellow" data-v="8"></span>
			<span class="tile red" data-v="10"></span>
			<span class="tile blue" data-v="11"></span>
			<span class="tile black" data-v="12"></span>
			<span class="tile yellow" data-v="13"></span>
			<span class="empty"></span>
			<span class="empty"></span>
			<span class="empty"></span>

			<span class="empty"></span>
			<span class="empty"></span>
			<span class="empty"></span>
			<span class="tile red" data-v="1"></span>
			<span class="tile blue" data-v="2"></span>
			<span class="tile black" data-v="3"></span>
			<span class="tile yellow" data-v="4"></span>
			<span class="tile red" data-v="5"></span>
			<span class="tile blue" data-v="6"></span>
			<span class="tile black" data-v="7"></span>
			<span class="tile yellow" data-v="8"></span>
			<span class="tile red" data-v="10"></span>
			<span class="tile blue" data-v="11"></span>
			<span class="tile black" data-v="12"></span>
			<span class="tile yellow" data-v="13"></span>
			<span class="empty"></span>
		</div>
	</div>
</content>
